
.mat-grid-tile {
  background-size: cover;
}

.preparer {
  background-image: url('../../../assets/preparer.jpg');
  .mat-grid-tile figure {
    align-items: flex-start !important;
  }
  p {
    position: relative;
    top: -40%;
    color: purple;
  }


}

.commander  {
  background-image: url('../../../assets/menu.jpg');
  .mat-grid-tile figure {
    align-items: flex-start !important;
  }
  p {
    position: relative;
    top: -40%;
    color: purple;
  }

}

.admin {
  color: c5deea;
  background-color: rgba(252,236,252,1);
  //background-image: url('../../../assets/admin.jpg');
  //background-size: 100% 100%;
}




