/*@import "./styles/_normalize.css";*/
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

$default-typography: mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(16px, 1.125, 400)
);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(18px, 28px, 400),
  $subheading-1:  mat-typography-level(17px, 24px, 400),
  $body-2:        mat-typography-level(16px, 24px, 500),
  $body-1:        mat-typography-level(16px, 20px, 400),
  $caption:       mat-typography-level(16px, 20px, 400),
  $button:        mat-typography-level(16px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(18px, 1.125, 400)
);

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons { color: rgba(253,137,215,1); }

// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

body {
  max-width: 600px;
  margin: 0 auto;
}

ul {
  padding-inline-start: 0px;
}

app-root > header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd89d7+36,fcecfc+83 */
  background: rgb(253,137,215); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(253,137,215,1) 36%, rgba(252,236,252,1) 83%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(253,137,215,1) 36%,rgba(252,236,252,1) 83%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(253,137,215,1) 36%,rgba(252,236,252,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd89d7', endColorstr='#fcecfc',GradientType=0 ); /* IE6-9 */
  .mat-card {
    color: white;
    background-color: transparent;
    text-align: center;
  }
  span {
    display: inline-block;
    background-color: red;
    transform: rotatez(-10deg) translatey(-0.25em);
  }
}

.mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.mat-radio-button {
  margin: 5px;
}

@media print {
  .mat-step + .mat-step {
    display: inline-block;
    width: 33%;
    .mat-vertical-stepper-content {
      height: 300px !important;
      visibility: visible !important;

    }
  }
}
